**/.env
**/.env.local
**/.env.docker
**/__pycache__/
**/*.pyc
**/venv/
**/.gitignore
**/.git
**/README.md
**/LICENSE
**/airflow.cfg
**/logs/
**/.user.yml
**/target/
**/dbt_packages/
**/*.log
**/*.tmp
**/.vscode/